// Text
$textColor: #000000;
$textColorDark: #ffffff;
$subTitle: #868e96;

// Backgrounds
$lightBackground: #fff;
$darkBackground: #041949;

// Box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.2);
$lightBoxShadow: rgba(0, 0, 0, 0.1);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);
$darkBoxShadow: #d9dbdf;

// Gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2)
);

// Borders
$progressBarBackground: rgb(243, 239, 239);
$lightBorder: rgba(211, 211, 211, 0.397);
$educationCardBorder: #a9a7f9;

// Backgrounds
$progressBarSpanBG: #00FF98;
$iconBackground: #333;
$appHeaderBG: #282c34;

// Button
$buttonColor: #067448;
$topButtonHover: #000;

// ToggleSwitch
$toggleCheck: #00FF98;
$toggleSwitchSliderBG: #ccc;

// Header
$headerHoverBG: #f4f4f4;

// Software Skills
$softwareSkillsColor: #00FF98;

// Github
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #00FF98;

// Social Media
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$stackoverflow: #f48024;
